<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.head.ui">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_design"
        android:label="@string/app_name"
        android:name=".MyApplication"
        android:roundIcon="@drawable/ic_design"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="640"/>
        <activity android:name=".HeadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"/>
    </application>

</manifest>